* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 .a {
  text-align: center;
 }


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; 
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%
}


.navbar > div:nth-child(1) {

}

.navbar > div:nth-child(2) {
  display: flex;
  gap: 10px;
 
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
}

.navbar a:hover {
  background-color: #111;
}

.navbar > div:nth-child(3) {

}

.navbar button {
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

