* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-box{
  color: black !important;
  width: auto;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: 80vh;
}

.item-box form {
  text-align: center;
}

.item-box input {
  color: black !important;
  width: 100%; 
  min-height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item-box button[type="submit"] {
  display: block;
  margin: auto;
  min-width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.item-box button[type="submit"]:disabled  {
  background-color: #8c939b;
  color: #b30c0c;
  cursor: not-allowed;
}

.item-box button[type="submit"]:hover {
  background-color: #0056b3;
}

.item-box.multiline-input {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: auto; /* Enable vertical overflow scrolling if needed */
  resize: vertical; /* Allow vertical resizing */
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  height: 60vh;
}

.item-table th, .item-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-table th {
  background-color: #f2f2f2;
}

.item-box.item-table th,
.item-box.item-table td {
  text-align: center;
}

.item-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2;
}

.item-table tbody {
    display: block;
    overflow-y: auto;
    max-height: 50vh; /* Set max height to 50% of viewport height */
  }

.item-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.general-comments {
  margin-top: 20px;
}

.item-box.item-table .en-descr,
.item-box.item-table .heb-descr {
  width: 20%;
}

.item-box.item-table .details {
  width: 40%;
}

.item-box.item-table .remarks {
  width: 20%; /* Adjust width as needed */
}
