.pending {
  position: fixed;
  top: 60px;
  left: 10%;
  width: 90%;
  max-width: 800px;
  height: calc(100vh - 60px);
}

.scroll-box,
.bottom-text {
  overflow-y: auto;
}

.scroll-box input{
  width: auto; /* Allow the input to expand based on content */
  min-width: 50px; /* Optionally, set a minimum width */
  padding: 5px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border for visual distinction */
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.top-box {
  height: 60px;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  
}

.buttons button {
  width: 20%;
  display: flex;
  margin: 0 5px;
  height: 80%;
  justify-content:space-around;
  margin: auto;
  /* width: 100%; */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.details-box {
  /* flex: 1; */
  display: flex;
  justify-content: "space-between";
  align-items: center;
  height: 50px;
}

.bottom-text {
  height: 100px;
}

.bottom-text textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

input {
  display: flex;
  width: 100%;
}